body {
  background-image: linear-gradient(90deg, rgb(0, 0, 0), rgb(255, 0, 0));
  height: 100%;
}

.form__input {
  border-radius: 5px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 20px;
}

.hero__card:hover {
  cursor: pointer;
  img {
    transform: scale(1.1);
  }
}


.Header{
  background-image: linear-gradient(90deg, rgb(0, 0, 0), rgb(255, 0, 0));
}